## The Battle of Neighborhoods - Data Selection (Week 1)¶

With the considerations presented in the previous section, the data we are interested in are as following:

- The localities of Haut-de-Seine from [Wikipedia](https://fr.wikipedia.org/wiki/Hauts-de-Seine)
- The coordinates from Open Street Map APIs
<br/>
These are the base information we will need to pass to Foursqure API for further analysis
<br/><br/>
- Number of residents from [Wikipedia](https://fr.wikipedia.org/wiki/Hauts-de-Seine)
- The office and school venues from Foursqure API
- The Incoming Level from [Wikipedia](https://fr.wikipedia.org/wiki/Hauts-de-Seine)
<br/>
As our target market is the local people living, studing and working in the surrondings, who would buy high-quality food, we should take into account of the above data to ensure that we could have sufficiant potential customers.
<br/><br/>
- The bakery venues from Foursqure API
<br/>
This is essential to check the number of competitors in the area.

For example, here are the dataframe processed with the Wikipedia information:

In [2]:
# The code was removed by Watson Studio for sharing.

In [5]:
import pandas as pd
df = pd.read_csv(project.get_file('Haut-de-Seine.csv'))
df.head(5)

,Postal Code,Neighbourhood,Resident Number,Incoming,Latitude,Longitude
0,92002,Antony,61711,43464,48.753554,2.295942
1,92004,Asnières-sur-Seine,86512,33939,48.910595,2.289045
2,92007,Bagneux,39487,28286,47.240726,-0.099050
3,92009,Bois-Colombes,28043,37353,48.914827,2.267489
4,92012,Boulogne-Billancourt,117931,40416,48.835665,2.240206

We can sort the table using the Resident Number to find the neighbourhood that contains the most local residents:

In [7]:
df.sort_values(by="Resident Number", ascending=False).head(5)

,Postal Code,Neighbourhood,Resident Number,Incoming,Latitude,Longitude
4,92012,Boulogne-Billancourt,117931,40416,48.835665,2.240206
24,92051,Nanterre,93742,28730,48.892427,2.207127
1,92004,Asnières-sur-Seine,86512,33939,48.910595,2.289045
11,92025,Colombes,85199,31622,48.922788,2.254358
12,92026,Courbevoie,83136,40337,48.895333,2.256160

We can also sort the table using the Incoming to find the neighbourhood whose residents have probably the best purchasing power.

In [8]:
df.sort_values(by="Incoming", ascending=False).head(5)

,Postal Code,Neighbourhood,Resident Number,Incoming,Latitude,Longitude
21,92048,Marnes-la-Coquette,1751,80327,48.829358,2.175609
33,92076,Vaucresson,8688,61973,48.839268,2.157598
25,92060,Neuilly-sur-Seine,60910,57830,48.884683,2.269566
34,92077,Ville-d'Avray,11422,57214,48.827936,2.189424
28,92064,Saint-Cloud,29362,53805,48.843741,2.219344